<h1>Asset Management Policy</h1>
<h2>Purpose</h2>
<p>The aim is to identify organizational assets, assign appropriate protection responsibilities, ensure information is adequately protected based on its significance to the organization, and prevent unauthorized disclosure, modification, removal, or destruction of information stored on media.</p>
<h2>Scope</h2>
<p>This policy applies to all [COMPANY NAME]-owned or managed information systems.</p>
<h2>Policy</h2>
<h2>Inventory of Assets</h2>
<p>All assets associated with information and processing facilities that handle classified information must be identified, and an inventory of these assets must be maintained.</p>
<h2>Ownership of Assets</h2>
<p>Every asset listed in the inventory must be owned by a specific individual or group within [COMPANY NAME].</p>
<h2>Acceptable Use of Assets</h2>
<p>The rules for acceptable use of information, assets, and processing facilities must be specified and documented in the Information Security Policy.</p>
<h2>Loss or Theft of Assets</h2>
<p>All personnel of [COMPANY NAME] must report the loss of any information systems immediately. This includes portable or laptop computers, smartphones, authentication tokens (key fobs, one-time-password generators, or personal devices with a [COMPANY NAME] software authentication token), or other devices capable of storing and processing or granting access to [COMPANY NAME] data.</p>
<h2>Return of Assets</h2>
<p>All employees and third-party users must return all [COMPANY NAME] assets in their possession upon termination of their employment, contract, or agreement.</p>
<h2>Handling of Assets</h2>
<p>Employees and users issued with or handling [COMPANY NAME] equipment must use reasonable judgment and exercise due care in protecting and maintaining the equipment. Employees are responsible for securing and properly attending to company equipment when it is transported or stored outside of company facilities. All mobile devices must be handled according to the Information Security Policy. No company computer equipment or devices, except employee-issued devices, may be moved or taken off-site without proper authorization from management.</p>
<h2>Asset Disposal &amp; Re-Use</h2>
<p>Company devices and media that have stored or processed confidential data must be securely disposed of when no longer needed. Data must be erased prior to disposal or re-use using an approved technology to ensure data is not recoverable. A Certificate of Destruction (COD) must be obtained for devices destroyed by a third-party service. Refer to NIST Special Publication 800-88 Revision 1 "Guidelines for Media Sanitization" for appropriate methods.</p>
<h2>Customer Asset Return</h2>
<p>Physical assets owned by customers must be returned promptly following service termination, in accordance with the terms of the contract or service agreement.</p>
<h2>Exceptions</h2>
<p>Requests for exceptions to this policy must be submitted to the CISO for approval.</p>
<h2>Violations &amp; Enforcement</h2>
<p>Any known violations of this policy must be reported to the Head of DevSecOps / CISO. Policy violations can lead to the immediate withdrawal or suspension of system and network privileges and/or disciplinary action as per company procedures, up to and including termination of employment.</p>
