<h1>Business Continuity and Disaster Recovery Plan</h1>
<h2>Purpose</h2>
<p>The aim of this business continuity plan is to prepare [COMPANY NAME] for service outages due to uncontrollable factors (e.g., natural disasters, man-made events) and to restore services as broadly and quickly as possible.</p>
<h2>Scope</h2>
<p>This policy covers all [COMPANY NAME] IT systems critical to business operations. It applies to all [COMPANY NAME] employees and relevant external parties, including consultants and contractors.<br>Excluded scenarios:</p>
<ul>
<li>Loss of availability for a production hosting service provider (e.g., AWS).</li>
<li>Loss of availability of [COMPANY NAME] satellite offices (considered incidents).</li>
</ul>
<p>If a hosting service provider becomes unavailable, CISO will collaborate with the CEO, Head of Engineering \[Development Contractors\] and Product Manager  to formulate a response strategy.</p>
<h2>Policy</h2>
<p>In case of a major disruption to production services or a disaster affecting the availability or security of the [COMPANY NAME] office, senior management will decide on mitigation actions.<br>An annual disaster recovery test, including backup restoration processes, is required.<br>Information security continuity must be considered alongside operational continuity. Refer to the Incident Response Plan for information security events or incidents.</p>
<h2>Alternate Work Facilities</h2>
<p>If the [COMPANY NAME] staff member’s office is inaccessible due to a disaster, the staff member will seek to work remotely from any other safe location.</p>
<h2>Communications and Escalation</h2>
<p>Executive staff and senior managers must be informed of any disaster affecting [COMPANY NAME] facilities or operations. Communications should use regular channels such as Slack, email, and phone. Key contacts should be maintained on the on-call schedule.</p>
<h2>Roles and Responsibilities</h2>
<table><thead><tr><th>Role</th><th>Responsibility</th></tr></thead><tbody>
<tr><td>Fractional CISO</td><td>Leads BC/DR efforts to mitigate losses and recover corporate network and information systems.</td></tr>
<tr><td>Departmental Heads</td><td>Responsible for departmental staff communication and maintaining business function continuity. Regular communication with executive staff and the Product Manager is required. Communicate with direct reports and assist staff in working from alternate locations.</td></tr>
<tr><td>Engineering and DevOps Team Members</td><td>With the departmental heads, leads efforts to maintain service continuity to customers during a disaster.</td></tr>
<tr><td>CEO</td><td>Handles internal and external communications and actions needed to maintain workforce health and safety.</td></tr>
</tbody></table>
<h2>Continuity of Critical Services</h2>
<p>Procedures for maintaining continuity of critical services during a disaster are detailed in Appendix A. Recovery Time Objectives (RTO) and Recovery Point Objectives (RPO) are listed in Appendix B. The strategy for maintaining service continuity is outlined below:</p>
<table><thead><tr><th>KEY BUSINESS PROCESS</th><th>CONTINUITY STRATEGY</th></tr></thead><tbody>
<tr><td>Customer (Production) Service Delivery</td><td>Rely on cloud hosting provider availability commitments and SLAs.</td></tr>
<tr><td>IT Operations</td><td>Not dependent on HQ. Critical data is backed up to alternate locations.</td></tr>
<tr><td>Email</td><td>Utilize email provider's distributed nature, relying on provider SLAs.</td></tr>
<tr><td>Finance, Legal, and HR</td><td>All systems are vendor-hosted SaaS applications (external systems).</td></tr>
<tr><td>Sales and Marketing</td><td>All systems are vendor-hosted SaaS applications (external systems).</td></tr>
</tbody></table>
<h2>Plan Activation</h2>
<p>This BC/DR plan will automatically activate in the event of the [COMPANY NAME] office or products becoming unavailable or a natural disaster (e.g., severe weather, regional power outage, earthquake).</p>
