<h1>Code of Conduct</h1>
<h2>Purpose</h2>
<p>The primary objective of [COMPANY NAME]'s Code of Conduct is to create an inclusive, collaborative, and safe working environment for all staff. [COMPANY NAME] is dedicated to ensuring a friendly, safe, and welcoming atmosphere for everyone, regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status, or religion (or lack thereof).<br>This code outlines our expectations for all [COMPANY NAME] staff and the consequences of unacceptable behavior.</p>
<h2>Scope</h2>
<p>The Code of Conduct applies to all [COMPANY NAME] staff, including full-time, part-time, and contractors at every level of seniority. It must be adhered to during all professional activities and events, including business hours at the [COMPANY NAME] office, [COMPANY NAME]-related extracurricular activities and events, conferences, and other professional events, as well as while working remotely and communicating with other staff through [COMPANY NAME] resources.<br>We expect all staff to abide by this Code of Conduct in all business matters, both online and in person, and in all communications with customers and colleagues regarding [COMPANY NAME] business.<br>This Code of Conduct also applies to unacceptable behavior outside the scope of business activities when such behavior could negatively impact the safety and well-being of [COMPANY NAME] staff and clients.</p>
<h2>Culture and Citizenship</h2>
<p>This Code of Conduct aims to foster open citizenship by encouraging staff to recognize how their actions affect [COMPANY NAME]'s culture.</p>
<h2>Be Welcoming</h2>
<p>We strive to welcome and support people from all backgrounds and identities, including but not limited to race, ethnicity, culture, national origin, color, immigration status, social and economic class, education level, sexual orientation, gender identity and expression, age, size, family status, political belief, religion, and mental and physical ability.</p>
<h2>Be Considerate</h2>
<p>Your work impacts others, and their work impacts you. Consider the consequences of your decisions on users and colleagues.</p>
<h2>Be Respectful</h2>
<p>Disagreement is no excuse for poor behavior. We might experience frustration, but we cannot let it turn into personal attacks. Respect is crucial for a productive and pleasant environment.</p>
<h2>Acceptable and Expected Behavior</h2>
<p>The following behaviors are expected from all [COMPANY NAME] staff:</p>
<ul>
<li>Participate authentically and actively to contribute to the health and longevity of [COMPANY NAME].</li>
<li>Exercise consideration and respect in speech and actions at all times.</li>
<li>Attempt collaboration before conflict.</li>
<li>Avoid demeaning, discriminatory, or harassing behavior and speech.</li>
<li>Be mindful of your surroundings and fellow participants. Alert [COMPANY NAME] leaders if you notice a dangerous situation, someone in distress, or violations of this Code of Conduct.</li>
<li>Remember that [COMPANY NAME] events may include the public and customers; be respectful to all patrons.</li>
</ul>
<h2>Unacceptable Behavior</h2>
<p>The following behaviors are considered harassment and are unacceptable:</p>
<ul>
<li>Violence, threats of violence, or violent language directed at another person.</li>
<li>Sexist, racist, homophobic, transphobic, ableist, or otherwise discriminatory jokes and language.</li>
<li>Posting or displaying sexually explicit or violent material.</li>
<li>Posting or threatening to post others' personally identifying information ("doxing").</li>
<li>Personal insults, especially those related to gender, sexual orientation, race, religion, or disability.</li>
<li>Inappropriate photography or recording.</li>
<li>Inappropriate physical contact without consent.</li>
<li>Unwelcome sexual attention, including sexualized comments, jokes, touching, and advances.</li>
<li>Deliberate intimidation, stalking, or following (online or in person).</li>
<li>Advocating for or encouraging any of the above behavior.</li>
<li>Repeated harassment of others. If someone asks you to stop, then stop.</li>
<li>Other conduct deemed inappropriate in a professional setting.</li>
</ul>
<h2>Weapons Policy</h2>
<p>No weapons are allowed at [COMPANY NAME] events, office locations, or other spaces covered by this Code of Conduct. Weapons include but are not limited to guns, explosives (including fireworks), large knives such as those used for hunting or display, and any other items used to cause injury or harm to others.<br>Anyone seen with a weapon will be asked to leave immediately and may face punitive action, including termination and involvement of law enforcement. Staff must comply with all state and local laws on this matter.</p>
<h2>Consequences of Unacceptable Behavior</h2>
<p>Unacceptable behavior from any staff, including those with decision-making authority, will not be tolerated. Anyone asked to stop unacceptable behavior is expected to comply immediately. If a staff member engages in unacceptable behavior, leadership may take any appropriate action, including suspension or termination.</p>
<h2>Reporting Violations</h2>
<p>If you are subject to or witness unacceptable behavior, or have other concerns, notify an appropriate member of [COMPANY NAME] leadership as soon as possible. Retaliation against anyone making a complaint or participating in an investigation is prohibited and may result in punitive action, including termination.</p>
<h2>Disciplinary Action</h2>
<p>Employees who violate this policy may face disciplinary consequences proportional to their violation. [COMPANY NAME] management will determine the seriousness of the offense and take appropriate action.</p>
<h2>Responsibility</h2>
<p>The CISO is responsible for ensuring this policy is followed.</p>
