<h1>Removable Media Policy</h1>
<h2>Overview</h2>
<p>Removable media takes many forms today (jump drives, flash memory storage, portable storage devices, etc.).  Removable media is personal, removable, and portable which introduces risk into the organization whenever it is used to store sensitive information.  Aside from the chance for loss and theft, removable media format storage is a well-known source of malware infections and has been directly tied to the loss of information.</p>
<h2>Purpose</h2>
<p>This policy is established to minimize the risk of loss or exposure of sensitive information maintained by [COMPANY NAME] as well as reducing exposure to external sources of malware and virus exploits in the [COMPANY NAME] environment.</p>
<h2>Scope</h2>
<p>This policy applies to all [COMPANY NAME] staff and contractors using [COMPANY NAME] resources.</p>
<h2>Policy</h2>
<h3>General</h3>
<p>For the purposes of definition, the following items shall fall under the category of removable media:</p>
<ul>
<li>Flash (Jump) Drives and flash memory storage</li>
<li>SD Storage</li>
<li>Removable fixed drives and portable caddies</li>
<li>R/W Compact Disk or DVD media</li>
<li>USB remote storage devices</li>
</ul>
<p>Removable media storage of any type shall generally be disallowed in any form or function within the [COMPANY NAME] operational environment.  Personal storage devices shall not be used for storage of any [COMPANY NAME] information or be used with [COMPANY NAME] hardware.  Exceptions to this policy shall be considered only in unique and rare cases.   These requests shall require written approval of the Compliance Officer, and be granted only for justifiable business purposes.</p>
<h3>Policy Exceptions</h3>
<p>The Compliance Officer or their designee shall ensure:</p>
<ol>
<li>Computer policy and procedures exist to scan all removable media when connected to a [COMPANY NAME] asset and disallow saving of information to these devices under a normal user context</li>
</ol>
<ol>
<li>Policy exception logs are maintained by the [COMPANY NAME]</li>
</ol>
<ol>
<li>Any removable media specifically approved for special case use shall be organizationally encrypted in a similar fashion to remote assets such as laptops</li>
</ol>
<ol>
<li>Information saved to the device shall carry the same public-private key combination associated with the approved user</li>
</ol>
<ol>
<li>For approved removable media policy exceptions, users of removable media shall ensure:</li>
</ol>
<ol>
<li>Media shall be backed up as part of the primary asset associated with the user</li>
<li>All [COMPANY NAME] device backup and security protocols shall be followed and remain in place</li>
<li>Removable media may not be connected to, or used, in personal or home computers</li>
<li>Data shall be copied or stored on removable media only by authorized users in the performance of official duties</li>
<li>Removable media containing sensitive information shall have an external label that is marked and dated</li>
<li>Except for backups user shall prohibit copying, moving or storing sensitive data on local hard drives and removable media</li>
<li>Media containing information shall be protected against unauthorized access, misuse, or corruption</li>
<li>When in transit, sensitive data stored on removable media must not be left unattended and must remain in an authorized employee’s physical control at all times</li>
<li>Physical controls shall be provided for removable media containing sensitive information</li>
<li>Removable media shall be kept in a secure safe or a locked cabinet and returned to safe storage at the end of each work day</li>
<li>Staff shall adhere to the requirements of applicable disposal policy and procedures when decommissioning removable media</li>
</ol>
<h2>Policy Compliance</h2>
<h3>Compliance Measurement</h3>
<p>The Infosec team will verify compliance to this policy through various methods, including but not limited to, business tool reports, internal and external audits, and feedback to the policy owner.</p>
<h3>Audit Controls and Management</h3>
<p>On-demand documented procedures and evidence of practice should be in place for this operational policy as part of the [COMPANY NAME] internal procedures. Examples of suitable controls and practices include:</p>
<ul>
<li>Approval documents for staff requesting removable media access;</li>
<li>Computer group policy supporting removable media encryption and security controls;</li>
<li>On-demand operations logs for approved removable media users.</li>
</ul>
<h3>Non-Compliance</h3>
<p>An employee found to have violated this policy may be subject to disciplinary action, up to and including termination of employment.</p>
<h2>Revision History</h2>
<table><thead><tr><th>Version</th><th>Date</th><th>Description</th><th>Author</th><th>Approver</th></tr></thead><tbody>
<tr><td>1.0</td><td></td><td>Initial revision</td><td></td><td></td></tr>
</tbody></table>
